img{
    image-resolution: 1000px;
    margin-left: 500px;
    margin-top: -23px;
    width: 1550px;
    height: 700px;
    background-image: none;
}

h1{
    background-color:burlywood;
    text-align: center;
}

h2{

    background-color: antiquewhite;
}

